[submodule "web/themes/maldorne"]
	path = web/themes/maldorne
	url = https://github.com/neverbot/maldorne-theme
[submodule "web/source/docs/dgd"]
	path = web/source/docs/dgd
	url = https://github.com/maldorne/dgd-docs
	branch = master
[submodule "web/source/docs/rl"]
	path = web/source/docs/rl
	url = https://github.com/maldorne/rl-aeternum-docs
