<footer id="footer" class="footer">
    <div class="copyright">
        <span>© <%= config.title %> | Powered by <a href="https://hexo.io" target="_blank">Hexo</a> | Theme based in <a href="https://github.com/Siricee/hexo-theme-Chic" target="_blank">Chic</a></span>
    </div>
</footer>
